<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gengcon.android.fixedassets">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- 位置权限,android6.0以上必须申明该权限才可以发现蓝牙设备 -->
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 网络权限 -->
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- 震动权限 -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 摄像头权限 -->
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-feature android:name="android.hardware.camera.autofocus" /> <!-- 自动聚焦权限 -->
    <uses-permission android:name="android.permission.NFC" />
    <!--读写-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.CALL_PHONE" />


    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />
    <!--在SDCard中创建与删除文件权限-->
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".ui.GApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".ui.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="cn.jpush.android.service.PushService"
            android:process=":multiprocess"
            tools:node="replace" />

        <receiver
            android:name=".util.MyReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_CLICK_ACTION" />
                <action android:name="cn.jpush.android.intent.CONNECTION" />

                <category android:name="com.gengcon.android.fixedassets" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.InventoryListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.CreateInventoryActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.EditInventoryActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.ScanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.InventoryDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.AssetListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.PreviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.InventoryResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.MessageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.MessageDetailsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.WebActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.BluetoothDeviceListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ScanLoginActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.ApprovalDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.ApprovalAssetDetailsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.RejectActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.PersonalActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.FeedbackActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.PersonalDataActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.ModifyPasswordActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.AboutUsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.ContactUsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.ChangePhoneActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.ChangePhoneSecondActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize" />

        <activity
            android:name=".ui.ChangePhoneThirdActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.RegisterFirstActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.RegisterSecondActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.SetPasswordActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.RegisterLastActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.ForgetPwdFirstActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.ForgetSecondActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.AgreementActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.ApprovalListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.ChangePhoneFourthActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.gengcon.android.fixedassets.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>